body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #000;
    background: url(img/cake.webp) 60% 20%/35% no-repeat,
                url(img/pattern.png),
                url(img/cloth.jpg);
}

h1 {
    font-family: 'Patrick Hand', cursive;
    text-decoration: underline black;
}

ul {
    font-weight: bold;
}

section:last-of-type {
    background-color: hsl(33, 27%, 75%);
}

ol {
    font-size: 22px;
}