body {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #333;
}

p {
    border: 1px solid #333;
    background-color: hsl(0, 0%, 90%);
    padding: 10px;
    display: inline-block;
    box-sizing: border-box;
    width: 33.33%;
    margin-left: -4px;
}