body {
    margin: 0;
}

body>div {
    width: 800px;
    height: 800px;
    background-color: hsl(0, 0%, 90%);
    border: 20px solid #999;
    margin: 2em auto;
}

div>div {
    width: 50%;
    height: 50%;
}

div>div:first-child {
    background-color: hsl(0, 100%, 70%);
}

div>div:last-child {
    background-color: hsl(240, 100%, 70%);
    margin-left: auto;
}